
  <% @shelters.each do |shelter| %>
  <div id="shelter-<%=shelter.id %>">
    <a href="/admin/shelters/<%= shelter.id%>"><%= shelter.name %></a>
  <% end %>
</div>

<h3>Shelter's with Pending Applications</h3>
  <% @pending.each do |pending| %>
    <%= pending.name %><br>
  <% end %>
