<% @application.pets.each do |pet| %>
  <section id="pet_id-<%=pet.id%>">

  <p><%= pet.name %></p>
  <% app_pet = pet.application_pets.where("application_form_id = ?", @application.id)[0] %>


  <% if app_pet.accepted.nil? %>
    <%= button_to "Approve", {:controller => "admin", :action => "pet_status", :application_id => "#{@application.id}", :approve => true, :pet => "#{pet.id}" } , :method=>:post  %>
  <% elsif app_pet.accepted == true%>
    <p> Accepted </p>
  <% else %>
    <p> Rejected </p>
  <% end %>


<% end %>
</section>
